<br>
<br>
<br>
<div id="tradeInfo">
  <h1>Create a Trade Request</h1>
  <div class="infoSection">
    <h2>Game Information</h2>
    <h3>Title</h3>
      <input type="text" placeholder="Username" #rTitle>
    <h3>Genre</h3>
    <input type="text" placeholder="Password" #rGenre>
    <h3>Plot</h3>
      <input type="text" placeholder="Username" #rPlot>
    <h3>Image link</h3>
    <input type="text" placeholder="Password" #rImage>
  </div>
  <div class="infoSection">
    <h2>Genre Preference</h2>
    <input type="text" placeholder="Genre" #rGenrePref>
  </div>
  <button (click)="makeTrade(rTitle.value, rGenre.value, rPlot.value, rImage.value, rGenrePref.value)" id="createButton">Create</button>
</div>