<div id="gamemod" class="modal">
  <div id="myform" class="modal-content animate">
    <div>
      <span onclick="document.getElementById('gamemod').style.display='none'" class="close fade-box" title="Close Modal">&times;</span>
    </div>
    <div id="container">
      <h2>Game Information</h2>
      <h3>Title</h3>
      <input type="text" placeholder="Title" #rTitle>
      <h3>Genre</h3>
      <select id="select" (change)="selectedGenre($event)">
        <option selected value="none" disabled>select a genre</option>
        <option *ngFor='let genre of this.search.allGenres' value='{{genre.genreId}}'>{{genre.genreType}}</option>
      </select>
      <h3>Plot</h3> 
      <input type="text" placeholder="Plot" #rPlot>
      <h3>Image</h3>
        <input type="text" #rImage placeholder="image URL">
      <button id="submitGame" (click)="makeGame(rTitle.value,rPlot.value, rImage.value)" onclick="document.getElementById('gamemod').style.display='none'">Submit game</button>
    </div>
  </div>
</div>


<br>
<br>
<br>
<div id="tradeInfo">
  <h1>Create a Trade Request</h1>
  <div class="infoSection">
    <h2>Game Information</h2>
    <h3>Game</h3>
    <select id="genreselect" (change)="selectedGame($event)" >
      <option selected value="none" disabled>select a game</option>
      <option *ngFor='let game of this.search.allGames' value='{{game.gameId}}'>{{game.title}}</option>
    </select>
    <br>
    <button id="gameButton" onclick="document.getElementById('gamemod').style.display='block'">Add Game to list</button>
    <h3>Description</h3>
    <input type="text" placeholder="Genre" #rDesc>
  </div>
  <button (click)="makeTrade(rDesc.value)" id="createButton">Create</button>
</div>