#gamemod{
    padding: auto;
}
ul {
    position: fixed;
    width: 100%;
    height: 60px;
    font-size: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(2, 35, 61);
    z-index: 1;
}

li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li:hover {
    background-color: rgb(68, 85, 90);
}

.active {
    background-color: rgb(76, 83, 175);
}
#genreSelect{
    margin-top: 10px;
    -moz-border-radius: 15px;
    border-radius: 8px;
    background-color: rgb(2, 35, 61);
    color: white;
    border:solid 3px rgb(110, 190, 255);
    padding:5px;
}

#logbutton{
    height: 50px;
    width: 150px;
    background: linear-gradient(rgb(155, 188, 238), rgb(113, 139, 196));
    border: 2px solid rgb(33, 45, 77);
}

.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: rgb(161, 210, 255);
    margin: 5% auto 15% auto;
    padding: 30px;
    border: 3px solid rgb(177, 191, 255);
    width: 40%;
}
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover, 
.close:focus {
    color: red;
}
#submitGame{
    border-radius: 8px;
    border:solid 1px black;
    background-color: rgb(136, 191, 255);
    padding:5px;
    position: absolute;
    height: 80px;
    width: 160px;
    font-size: 15px;
    bottom: 50px;
    right: 50px;
}
.select{
    margin-top: 10px;
    -moz-border-radius: 15px;
    border-radius: 8px;
    background-color: rgb(110, 190, 255);
    color: black;
    border:solid 1px rgb(0, 0, 0);
    padding:5px;
}
#gameButton{
    border-radius: 8px;
    border:solid 1px black;
    background-color: rgb(105, 195, 236);
    margin: 15px;
    padding:8px;
}
#tradeInfo{
    background-color: rgb(154, 196, 216);
    padding:60px;
    margin:90px;
    text-align: center;
}
#tradeInfo h1{
    font-size: 50px;
    margin-bottom: 60px;
}
#tradeInfo h2{
    margin:35px;
}
#tradeInfo input{
    height:40px;
    width: 500px;
    margin-bottom: 15px;
}
.infoSection{
    background-color: rgb(154, 181, 216);
    border: 5px solid black;
    margin:auto;
    width: 1000px;
    padding: 40px;
    margin-bottom: 35px;
}
#createButton{
    height:100px;
    width: 300px;
    font-size: 40px;
    background: linear-gradient(rgb(155, 188, 238), rgb(113, 139, 196));
    border: 2px solid rgb(33, 45, 77);
}

#fileInput{
    padding: 10px;
    background: white;
    border: 1px solid rgb(33, 45, 77);
    border-radius: 8px;
    display: table;
    color: rgb(56, 56, 56);
}

input[type="file"] {
    display: none;
}

input{
    border-radius: 8px;
    border:solid 1px black;
    padding:5px;
}

input:focus{
    animation: glow 1600ms ease-out infinite
}

@keyframes glow {
    0% {
		border-color: rgb(198, 29, 204);
		box-shadow: 0 0 5px rgba(212, 0, 255, 0.2), inset 0 0 5px rgba(212, 0, 255, 0.1), 0 2px 0 #000;
    }	
    50% {
		border-color: rgb(131, 24, 131);
		box-shadow: 0 0 20px rgba(212, 0, 255, 0.6), inset 0 0 10px rgba(212, 0, 255, 0.4), 0 2px 0 #000;
    }
    100% {
		border-color: rgb(198, 29, 204);
		box-shadow: 0 0 5px rgba(212, 0, 255, 0.2), inset 0 0 5px rgba(212, 0, 255, 0.1), 0 2px 0 #000;
    }	
}