#title{
    color: white;
    font-size: 70px;
    text-align: center;
    text-shadow: 5px 5px red, 10px 10px green, 15px 15px blue;
    margin: 50px;
}

#footerDiv{
    position: absolute;
    top: 1750px;
    height: 700px;
    width:100%;
    padding: 100px;
    text-align: center;
    color: rgb(163, 163, 163);
    background-color: rgb(32, 32, 32);
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

.passreq{
    color:red;
}
    
svg{
    text-align: left;
    position: absolute;
}