<!-- Login modal start -->
<div id="lodmod" class="modal">
    <div id="myform" class="modal-content animate">
        <div class="imgcontainer">
            <span onclick="document.getElementById('lodmod').style.display='none'" class="close fade-box" title="Close Modal">&times;</span>
        </div>
        <div class="container">
            <h5 class="fade-box">Username</h5>
            <mat-form-field class="fade-box">
                <input matInput type="text" placeholder="Enter Username" #username id="usrbox" name="uname">
            </mat-form-field>
            <!-- #username acts similar to the id attribute -->
            <h5 class="fade-box">Password</h5>
            <mat-form-field class="fade-box">
                <input matInput type="password" placeholder="Enter Password" #password id="passbox" name="psw">
            </mat-form-field>
            <!-- #password acts similar to the id attribute -->
            <button type="submit" id="logbutton" class="fade-box" (click)="userLogin(username.value, password.value)">Login</button>
            <!-- (click) same as onClick attribute -->
            <!-- uses the #attributes to get the values -->
        </div>
    </div>
</div>
<!-- Login modal end -->

<br>
<br>
<br>
<br>
<svg height="2000" width="100%">
    <path d="M 0 180 l 1406 0 l 0 696 l -1295 0 l 0 700 l 1500 0" stroke="white" stroke-width="6" fill="none" />
</svg>
<h1 id="title">Game ROCR</h1>
<br>
<br>
<app-games></app-games>
<div id="footerDiv">
    <h1>About us</h1>
    <h3>insert information here</h3>
    <app-contact-info *ngIf='logged.getLoggedInUser().role===9'></app-contact-info>
</div>