<div id="lodmod" class="modal">
    <div id="myform" class="modal-content animate">
        <div>
            <span onclick="document.getElementById('lodmod').style.display='none'" class="close fade-box" title="Close Modal">&times;</span>
        </div>
        <div class="container">
            <h5 class="fade-box">Username</h5>
            <mat-form-field class="fade-box">
                <input matInput type="text" placeholder="Enter Username" #username id="usrbox" name="uname">
            </mat-form-field>
            <h5 class="fade-box">Password</h5>
            <mat-form-field class="fade-box">
                <input matInput type="password" placeholder="Enter Password" #password id="passbox" name="psw">
            </mat-form-field>
            <button type="submit" id="logbutton" class="fade-box" (click)="userLogin(username.value, password.value);">Login</button>
        </div>
    </div>
</div>

<ul>
    <li *ngIf='this.logged.navNum===2' (click)='newTrade()'>Make a Request</li>
    <li style='float:right' *ngIf='this.logged.navNum===9' onclick="document.getElementById('lodmod').style.display='block'">Login</li>
    <li style='float:right' *ngIf='this.logged.navNum===9' (click)='register()'>Register</li>
    <li *ngIf='this.logged.navNum===1' (click)='getUsers()'>Get Users</li>
    <select *ngIf='this.logged.navNum!<=2' id="genreSelect" (change)="selectChangeHandler($event)">
        <option selected value="none">select a genre</option>
        <option *ngFor='let genre of this.tradeServ.getGenres()' value='{{genre.genreId}}'>{{genre.genreType}}</option>
    </select>
    <li *ngIf='this.logged.navNum!<=2' (click)='viewMyTrades()'>my trades</li>
    <li style="float:right" *ngIf='this.logged.navNum!<=2' (click)='logged.logout()'>Logout</li>
    <li style="float:right" *ngIf='this.logged.navNum===10' (click)='backHome()'>Back</li>
    <li style="float:right" *ngIf='this.logged.navNum===11' (click)='backUser()'>Back</li>
</ul>