<div *ngIf="this.userPairs.length" id="tradeNotification" (click)="handleOffers()">
    <h1>You have offers</h1>
</div>

<div id="delmod" class="modal">
    <div id="myform" class="modal-content animate">
        <div>
            <span onclick="document.getElementById('delmod').style.display='none'" class="close" title="Close Modal">&times;</span>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<div id="firstContent">
    <h4>Welcome to Game Rocr where all your gaming dreams will come through.</h4>
    <h4>Trade away and never look back...</h4>
</div>
<app-recent-trades></app-recent-trades>