svg { position: fixed; 
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  circle {
      transform-origin: 50% 50%;
    stroke-width: 2px;
    stroke: #fff;
  }
  
  #c3 {
    stroke-dasharray: 40%;
    animation: xrot2 24s infinite linear normal;
  }
  #c4 { 
    stroke-dasharray: 35%;
    animation: xrot 21s infinite linear normal;
  }
  #c5 { 
    stroke-dasharray: 30%;
    animation: xrot2 18s infinite linear normal;
  }
  #c6 { 
    stroke-dasharray: 25%;
    animation: xrot 15s infinite linear normal;
  }
  
  @keyframes xrot {
      0% { transform: rotate(0deg); opacity: 1; }
      50% { transform: rotate(180deg); opacity: .05; }
    100% { transform: rotate(360deg); opacity: 1; }
  }
  @keyframes xrot2 {
    0% { transform: rotate(360deg); opacity: 1; }
    50% { transform: rotate(180deg); opacity: .05; }
  100% { transform: rotate(0deg); opacity: 1; }
}