<br>
<br>
<br>
<div id="userInfo">
  <h1>Create an Account</h1>
  <div class="infoSection">
    <h2>Account Information</h2>
    <h3>Username</h3>
      <input type="text" placeholder="Username">
    <h3>Password</h3>
    <input type="password" placeholder="Password">
  </div>
  <div class="infoSection">
    <h2>Contact and Delivery Information</h2>
    <h3>First Name</h3>
    <input type="text" placeholder="First Name">
    <h3>Last Name</h3>
    <input type="text" placeholder="Last Name">
    <h3>Email</h3>
    <input type="text" placeholder="Email">
    <h3>Country</h3>
    <input type="text" placeholder="Country">
    <h3>State</h3>
    <input type="text" placeholder="State">
    <h3>City</h3>
    <input type="text" placeholder="City">
    <h3>Street</h3>
    <input type="text" placeholder="Street">
    <h3>Phone Number</h3>
    <input type="text" placeholder="Phone Number">
  </div>
  <button id="createButton">Create</button>
</div>