<div>
  <table>
    <tr>
      <th>Tomb Raider</th>
      <th>Touhou Book of Star Mythology</th>
      <th>Kingdom Hearts</th>
      <th>Super Mario Odyssey</th>
    </tr>
    <tr>
      <td>
        <img src="https://s3.gaming-cdn.com/images/products/485/271x377/485.jpg"height="90%" width="90%">
      </td>
      <td>
        <img src="https://en.touhouwiki.net/images/thumb/e/e4/BoSMjacket.png/256px-BoSMjacket.png">
      </td>
      <td>
        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/8/85/Kingdom_Hearts.jpg/220px-Kingdom_Hearts.jpg">
      </td>
      <td>
        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/8/8d/Super_Mario_Odyssey.jpg/220px-Super_Mario_Odyssey.jpg">
      </td>
    </tr>
  </table>
</div>
<br>
<br>
<br>
<br>
<div id="divRight">
  <table>
    <tr>
      <th>Kirby Star Allies</th>
      <th>Overwatch</th>
      <th>League of Legends</th>
      <th>Pokemon Moon</th>
    </tr>
    <tr>
      <td>
        <img src="https://www.gamestop.com/common/images/lbox/161435b.jpg">
      </td>
      <td>
        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/5/51/Overwatch_cover_art.jpg/220px-Overwatch_cover_art.jpg">
      </td>
      <td>
        <img src="https://pbs.twimg.com/profile_images/571024672750178304/GpGC8aTW.jpeg" height="80%" width="80%">
      </td>
      <td>
        <img src="https://www.gamestop.com/common/images/lbox/123552b.jpg"  height="90%" width="90%">
      </td>
    </tr>
  </table>
</div>
