<table>
    <tr *ngFor='let pair of this.pairs'>
        <td>
            <div class="gameinfo">
                <h1 class="offer">Offer for</h1>
                <h2 id="gameTitle">{{pair.requestOffer.games.title}}</h2>
                <svg width="100%" height="50px">
                    <path d="M 0 0 l 800 000" stroke-width="10" stroke="black" />
                </svg>
                <h1 class="offer">Offer</h1>
                <h2 id="gameTitle2">{{pair.givenOffer.games.title}}</h2>
                <h3>Genre: {{pair.givenOffer.games.genre.genreType}}</h3>
                <br>
                <h4>Plot: {{pair.givenOffer.games.plot}}</h4>
                <br>
                <h6>Offer from by {{pair.givenOffer.account.username}}</h6>
                <h6 id="down">{{pair.givenOffer.description}}</h6>
                <button class='handleButton' (click)="accepted(pair.tradeId)">Accept</button>
                <button class='handleButton' (click)="declined(pair.tradeId)">Decline</button>
                <img src={{pair.givenOffer.games.image}} class="gameimg">
            </div>
        </td>
        <svg ng-if='first' height="90px" width="1500" id="lines">
            <defs>
                <filter id="f1">
                    <feOffset result="offOut" in="SourceGraphic" dx="0" dy="0" />
                    <feGaussianBlur result="blurOut" in="offOut" stdDeviation="3" />
                    <feBlend in="SourceGraphic" in2="blurOut" mode="normal" />
                </filter>
            </defs>
            <path d="M 100 45 l 300 40 q 309.6 -50 719.2 0 l 300 -40 l -300 -40 q -309.6 50 -719.2 0 l -300 40" stroke="rgba(183, 211, 218, 0.664)"
                stroke-width="4" fill="none" />
            <path d="M 100 45 l 14.6 31.6 l 185 -31.6 l -185 -31.6z M 1419.2 45 l -14.6 31.6 l -185 -31.6 l 185 -31.6z" stroke="rgba(183, 211, 218, 0.664)"
                stroke-width="0" fill="rgba(255, 255, 255, 0.4" />
            <path d="M 300 45 l 100 25 l 250 -25 l -250 -25z M 1219.2 45 l -100 25 l -250 -25 l 250 -25z" stroke="rgba(183, 211, 218, 0.664)"
                stroke-width="0" fill="rgba(255, 255, 255, 0.65" />
            <path d="M 650 45 l 110 40 l 110 -40 l -110 -40z" stroke="rgba(183, 211, 218, 0.664)" stroke-width="5" fill="rgba(255, 255, 255, 0.8)"
                filter="url(#f1)" />
        </svg>
    </tr>
</table>